:root {
  --primary: #977100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  font-family: var(--font-jacques);
  color: var(--primary);
}

span {
  font-size: 1.2rem;
}

.link {
  /* border: solid 3px #333; */
  cursor: pointer;
  color: var(--primary);
}

.link:hover {
  text-decoration: underline;
}

.button {
  padding: 6px 10px;
  cursor: pointer;
  border: solid 1px #333;
  border-radius: 3px;
}

.button:hover {
  background-color: #8e1414;
  border: solid 1px #8e1414;
  color: white;
}